/.config/git/config.local
/.config/nvim/pack/
/.config/nvim/plugin/packer_compiled.lua
/.config/nvim/undo/
/.profile.local
/.tmux.local.conf
/.vim/info
/.vim/pack/*
!/.vim/pack/manual/
/.vim/undo/
/.zshrc.local
